*{
    margin: 0px;
}

header{
    background-color: transparent;
    height: 40px;
    width: 100%;
    display: flex;
    z-index: 9;
    position: fixed;
}

header img{
    width:32px;
    height: 28px;
    padding-left: 20px;
    padding-top: 6px;
    padding-bottom: 4px;
}

header a{
    padding-bottom: 0px;
    padding-top:5px;
    list-style-type: none;
    text-decoration: none;
    font-size: 20pt;
    padding-left: 3px;
    font-family: 'Lobster';
    color: #FFFFFF
}

nav ul li{
    list-style-type: none;
    display: inline;
    color: #FFFFFF;
    font-size: 20px;
    padding-right: 40px;
}

nav a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Do Hyeon', sans-serif;
    color: #FFFFFF;
    padding-top: 4px;
    padding-bottom: 4px;
}

nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.div1{
    width: 100%;
    height: 70vh;
    font-size: 24px;
    text-align: center;
    color: white;
    background-image: url("img/livros.jpg") ;
    background-size:cover; 
    box-shadow: 0px -8px 73px black;
}

.div1 p{
    font-size: 27pt;
    font-family: 'IBM Plex Serif';
    padding-bottom: 5px;
    padding-top: 10px;
    color: white;
    -webkit-text-stroke-width: 1px ; 
    -webkit-text-stroke-color: #000;
}

.div1 h3{
    font-size: 30pt;
    font-family: 'Lobster';
    padding-bottom: 5px;
    padding-top: 10px;
    color: white;
    -webkit-text-stroke-width: 0.1px ; 
    -webkit-text-stroke-color: #000;
}

.div1 img{
    width: 200px;
    height:150px;
    padding-top: 100px;
    padding-bottom: 10px;
}

.div2 ul{
    list-style-type: none;
    text-decoration: none;
    height: 125px;

    display: flex;
    justify-content: space-around;
    color: red;
    background-color: steelblue;
}

.div2 ul li{
    padding-top: 42.5px;
    font-size: 24pt;
    text-align: center;
    justify-content: center;
}
